In [17]:
import nltk
import numpy
import json
import pandas as pd
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import sklearn
import string
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.metrics import precision_score, recall_score
from sklearn.feature_extraction.text import CountVectorizer
from scipy.stats import randint
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
lemmatizer = WordNetLemmatizer()

#Current Classifier: 1 is Greeting, 2 is Thank you, 3 is Product information

df = pd.read_csv("intentdata.csv")
df

,Pattern,Greetings,Thanks,Product,Shipping Times,Payments,Refund
0,Hello!,1,0,0,0,0,0
1,Hi there!,1,0,0,0,0,0
2,Good morning!,1,0,0,0,0,0
3,Good afternoon!,1,0,0,0,0,0
4,Good evening!,1,0,0,0,0,0
...,...,...,...,...,...,...,...
342,Can I receive a refund for this product if it ...,0,0,0,0,0,1
343,Can you tell me the procedure for returning a ...,0,0,0,0,0,1
344,Can I receive a refund for this item if I no l...,0,0,0,0,0,1
345,How long does it take to receive a refund for ...,0,0,0,0,0,1
346,Is there a way to check the status of my refun...,0,0,0,0,0,1

In [18]:
# Used from the d2l.
def clean(doc): # doc is a string of text
    doc = "".join([char for char in doc if char not in string.punctuation and not char.isdigit()])
    doc = " ".join([lemmatizer.lemmatize(word.lower()) for word in doc.split()])
    # remove punctuation and numbers
    return doc

In [19]:
#Preprocess the pandas dataframe
df['Pattern'] = df["Pattern"].apply(clean)

In [20]:
vect = CountVectorizer()
vect.fit(df["Pattern"])

X = vect.transform(df["Pattern"])
dfnew = pd.DataFrame(X.toarray(), columns=vect.get_feature_names_out())
dfnew['Greetings'] = df['Greetings']
dfnew['Thanks'] = df['Thanks']
dfnew['Product'] = df['Product']
dfnew['Shipping Times'] = df['Shipping Times']
dfnew['Payments'] = df['Payments']
dfnew['Refund'] = df['Refund']

In [21]:
print(sorted(vect.vocabulary_))
with open('vocabulary.txt', 'w') as filehandle:
    json.dump(sorted(vect.vocabulary_), filehandle)

['about', 'accept', 'accepted', 'access', 'accidentally', 'account', 'add', 'additional', 'address', 'after', 'afternoon', 'again', 'ahoy', 'already', 'am', 'amazing', 'amount', 'an', 'and', 'anticipate', 'anticipated', 'any', 'app', 'apple', 'appreciate', 'appreciative', 'approval', 'are', 'area', 'arrival', 'arrive', 'arrived', 'assist', 'associated', 'at', 'atm', 'automatic', 'available', 'awesome', 'back', 'backordered', 'bad', 'bank', 'be', 'been', 'begin', 'best', 'better', 'between', 'billing', 'bottom', 'bought', 'bundle', 'buy', 'buyer', 'by', 'can', 'cancel', 'cannot', 'cant', 'card', 'carrier', 'carry', 'cash', 'cashback', 'cashier', 'catch', 'category', 'center', 'certain', 'change', 'changed', 'chat', 'check', 'choose', 'clearance', 'company', 'complete', 'condition', 'confirmation', 'contact', 'corporate', 'cost', 'could', 'couldnt', 'country', 'credit', 'cryptocurrency', 'currency', 'current', 'custom', 'customer', 'damage', 'damaged', 'date', 'day', 'deadline', 'deal', 'debit', 'debt', 'deeply', 'defective', 'delayed', 'delivered', 'delivery', 'deposit', 'described', 'detail', 'detailed', 'did', 'different', 'digital', 'discount', 'discreetly', 'dispatched', 'do', 'doe', 'doing', 'done', 'dont', 'doorstep', 'drop', 'duration', 'during', 'elsewhere', 'email', 'enough', 'ensure', 'estimate', 'estimated', 'evening', 'everything', 'example', 'exchange', 'exciting', 'expect', 'expectation', 'expected', 'expedite', 'expedited', 'explain', 'family', 'far', 'fastest', 'fee', 'feeling', 'financing', 'for', 'foreign', 'form', 'found', 'from', 'full', 'future', 'gateway', 'get', 'gift', 'give', 'go', 'going', 'good', 'google', 'gossip', 'governmentissued', 'grateful', 'gratitude', 'great', 'greeting', 'ha', 'hanging', 'happening', 'happens', 'have', 'health', 'heart', 'hello', 'help', 'helpful', 'hey', 'heya', 'hi', 'hold', 'holding', 'how', 'howdy', 'hows', 'idea', 'if', 'im', 'in', 'instant', 'instead', 'insurance', 'interest', 'international', 'internationally', 'internet', 'inventory', 'invoice', 'is', 'it', 'item', 'itinerary', 'job', 'keeping', 'kind', 'kindly', 'know', 'label', 'last', 'late', 'lately', 'latest', 'let', 'letter', 'life', 'lifesaver', 'like', 'limit', 'line', 'linked', 'live', 'location', 'long', 'longer', 'lost', 'lot', 'lovely', 'loyalty', 'made', 'make', 'many', 'may', 'me', 'medium', 'meet', 'merchandise', 'message', 'method', 'mind', 'missed', 'mobile', 'modify', 'money', 'moneygram', 'morning', 'much', 'multiple', 'my', 'neck', 'need', 'new', 'news', 'nice', 'no', 'nofee', 'not', 'notification', 'number', 'obliged', 'obtain', 'obtaining', 'of', 'offer', 'old', 'on', 'once', 'one', 'online', 'option', 'or', 'order', 'ordered', 'original', 'out', 'outofstock', 'outside', 'over', 'overview', 'owe', 'package', 'packaging', 'part', 'partial', 'particular', 'pay', 'paying', 'payment', 'paypal', 'paypalme', 'peertopeer', 'personal', 'personalized', 'phone', 'physical', 'pickup', 'plan', 'please', 'pleased', 'policy', 'possibility', 'possible', 'prefer', 'preferred', 'prepaid', 'price', 'procedure', 'process', 'processed', 'processing', 'processor', 'product', 'program', 'progress', 'protection', 'provide', 'purchase', 'purchased', 'range', 'ready', 'realtime', 'reason', 'receive', 'received', 'receiving', 'recharge', 'recurring', 'redelivery', 'redirect', 'refund', 'refunded', 'remote', 'report', 'request', 'requesting', 'required', 'requirement', 'restriction', 'return', 'returned', 'returning', 'reward', 'sale', 'salutation', 'same', 'samsung', 'satisfied', 'saturday', 'schedule', 'securely', 'see', 'selection', 'sell', 'sent', 'service', 'set', 'shaping', 'ship', 'shipment', 'shipped', 'shipping', 'should', 'signature', 'since', 'so', 'social', 'sold', 'some', 'soon', 'sort', 'specialize', 'specific', 'speed', 'split', 'spoke', 'star', 'status', 'step', 'still', 'stock', 'stolen', 'store', 'stranger', 'subscription', 'such', 'sup', 'supported', 'system', 'take', 'talk', 'tell', 'text', 'thank', 'thankful', 'thanks', 'that', 'thats', 'the', 'there', 'these', 'thing', 'thirdparty', 'this', 'through', 'time', 'timeframe', 'timeline', 'to', 'today', 'ton', 'top', 'topup', 'track', 'tracking', 'transaction', 'transfer', 'treating', 'type', 'typically', 'under', 'union', 'up', 'update', 'upfront', 'upgrade', 'upon', 'use', 'used', 'using', 'usually', 'venmo', 'via', 'virtual', 'voucher', 'wa', 'wallet', 'want', 'wassup', 'way', 'we', 'website', 'week', 'welcome', 'well', 'western', 'what', 'whats', 'when', 'which', 'who', 'will', 'window', 'wire', 'with', 'without', 'wood', 'word', 'work', 'world', 'wrong', 'year', 'yo', 'you', 'your', 'youre', 'youve', 'zelle']

In [22]:
dfnew

,about,accept,accepted,access,accidentally,account,add,additional,address,after,...,your,youre,youve,zelle,Greetings,Thanks,Product,Shipping Times,Payments,Refund
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
343,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
344,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
345,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
346,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [23]:
X = dfnew.drop('Greetings',axis=1)
X = X.drop('Thanks',axis=1)
X = X.drop('Product',axis=1)
X = X.drop('Shipping Times',axis=1)
X = X.drop('Payments',axis=1)
X = X.drop('Refund',axis=1)
y = dfnew[['Greetings','Thanks','Product', 'Shipping Times', 'Payments', 'Refund']]
X_train, X_test, y_train, y_test = train_test_split(X,y,stratify=y,test_size = 0.2)

In [24]:
X

,about,accept,accepted,access,accidentally,account,add,additional,address,after,...,work,world,wrong,year,yo,you,your,youre,youve,zelle
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
343,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
344,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
345,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
346,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
y

     Greetings  Thanks  Product  Shipping Times  Payments  Refund
0            1       0        0               0         0       0
1            1       0        0               0         0       0
2            1       0        0               0         0       0
3            1       0        0               0         0       0
4            1       0        0               0         0       0
..         ...     ...      ...             ...       ...     ...
342          0       0        0               0         0       1
343          0       0        0               0         0       1
344          0       0        0               0         0       1
345          0       0        0               0         0       1
346          0       0        0               0         0       1

[347 rows x 6 columns]

In [26]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

In [27]:
X_train.shape

(277, 467)

In [28]:
y_train.shape

(277, 6)

In [29]:
"""
print("--Make model--")
model = Sequential()
model.add(Dense(32,input_shape=(85,),activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64,activation='relu'))
model.add(Dropout(0.5))
model.add(Dense())
"""
print("--Make model--")
model = tf.keras.models.Sequential([
  tf.keras.Input(shape=(X_train.shape[1],)),
  tf.keras.layers.Dense(32, activation='relu'),
  tf.keras.layers.Dropout(0.5),
  tf.keras.layers.Dense(64, activation='relu'),
  tf.keras.layers.Dropout(0.5),
  tf.keras.layers.Dense(y_train.shape[1], activation='softmax')
])
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

print(model.summary())

--Make model--
Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 32)                14976

 dropout_2 (Dropout)         (None, 32)                0

 dense_4 (Dense)             (None, 64)                2112

 dropout_3 (Dropout)         (None, 64)                0

 dense_5 (Dense)             (None, 6)                 390

=================================================================
Total params: 17,478
Trainable params: 17,478
Non-trainable params: 0
_________________________________________________________________
None

In [30]:
print("--Fit model--")
model.fit(X_train, y_train, epochs=100)

--Fit model--
Epoch 1/100
9/9 [==============================] - 1s 3ms/step - loss: 1.7349 - accuracy: 0.2780
Epoch 2/100
9/9 [==============================] - 0s 3ms/step - loss: 1.7097 - accuracy: 0.2310
Epoch 3/100
9/9 [==============================] - 0s 7ms/step - loss: 1.6849 - accuracy: 0.2708
Epoch 4/100
9/9 [==============================] - 0s 7ms/step - loss: 1.6087 - accuracy: 0.3466
Epoch 5/100
9/9 [==============================] - 0s 4ms/step - loss: 1.5543 - accuracy: 0.3682
Epoch 6/100
9/9 [==============================] - 0s 4ms/step - loss: 1.4928 - accuracy: 0.4043
Epoch 7/100
9/9 [==============================] - 0s 3ms/step - loss: 1.4500 - accuracy: 0.4513
Epoch 8/100
9/9 [==============================] - 0s 3ms/step - loss: 1.3672 - accuracy: 0.5307
Epoch 9/100
9/9 [==============================] - 0s 2ms/step - loss: 1.3212 - accuracy: 0.5343
Epoch 10/100
9/9 [==============================] - 0s 3ms/step - loss: 1.2447 - accuracy: 0.5921
Epoch 11/100
9/9 [==============================] - 0s 3ms/step - loss: 1.1520 - accuracy: 0.6823
Epoch 12/100
9/9 [==============================] - 0s 3ms/step - loss: 1.0669 - accuracy: 0.6462
Epoch 13/100
9/9 [==============================] - 0s 2ms/step - loss: 1.0132 - accuracy: 0.6823
Epoch 14/100
9/9 [==============================] - 0s 2ms/step - loss: 0.8925 - accuracy: 0.7329
Epoch 15/100
9/9 [==============================] - 0s 2ms/step - loss: 0.9011 - accuracy: 0.7329
Epoch 16/100
9/9 [==============================] - 0s 3ms/step - loss: 0.8069 - accuracy: 0.7762
Epoch 17/100
9/9 [==============================] - 0s 3ms/step - loss: 0.7379 - accuracy: 0.7942
Epoch 18/100
9/9 [==============================] - 0s 2ms/step - loss: 0.6813 - accuracy: 0.7906
Epoch 19/100
9/9 [==============================] - 0s 2ms/step - loss: 0.6839 - accuracy: 0.7978
Epoch 20/100
9/9 [==============================] - 0s 2ms/step - loss: 0.6542 - accuracy: 0.7870
Epoch 21/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5728 - accuracy: 0.8375
Epoch 22/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5567 - accuracy: 0.8231
Epoch 23/100
9/9 [==============================] - 0s 3ms/step - loss: 0.5170 - accuracy: 0.8339
Epoch 24/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5020 - accuracy: 0.8412
Epoch 25/100
9/9 [==============================] - 0s 3ms/step - loss: 0.4497 - accuracy: 0.8520
Epoch 26/100
9/9 [==============================] - 0s 3ms/step - loss: 0.4070 - accuracy: 0.8592
Epoch 27/100
9/9 [==============================] - 0s 3ms/step - loss: 0.4557 - accuracy: 0.8412
Epoch 28/100
9/9 [==============================] - 0s 4ms/step - loss: 0.4159 - accuracy: 0.8556
Epoch 29/100
9/9 [==============================] - 0s 4ms/step - loss: 0.3821 - accuracy: 0.8700
Epoch 30/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3634 - accuracy: 0.8592
Epoch 31/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3487 - accuracy: 0.8917
Epoch 32/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8809
Epoch 33/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3542 - accuracy: 0.8845
Epoch 34/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3239 - accuracy: 0.8773
Epoch 35/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3017 - accuracy: 0.8881
Epoch 36/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2711 - accuracy: 0.8989
Epoch 37/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3002 - accuracy: 0.9061
Epoch 38/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3024 - accuracy: 0.8881
Epoch 39/100
9/9 [==============================] - 0s 4ms/step - loss: 0.2578 - accuracy: 0.9061
Epoch 40/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2562 - accuracy: 0.9206
Epoch 41/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2569 - accuracy: 0.9206
Epoch 42/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2336 - accuracy: 0.9422
Epoch 43/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2451 - accuracy: 0.9278
Epoch 44/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2424 - accuracy: 0.9422
Epoch 45/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2178 - accuracy: 0.9386
Epoch 46/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1801 - accuracy: 0.9458
Epoch 47/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2078 - accuracy: 0.9495
Epoch 48/100
9/9 [==============================] - 0s 4ms/step - loss: 0.2115 - accuracy: 0.9495
Epoch 49/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1888 - accuracy: 0.9567
Epoch 50/100
9/9 [==============================] - 0s 4ms/step - loss: 0.1952 - accuracy: 0.9747
Epoch 51/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1888 - accuracy: 0.9711
Epoch 52/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1687 - accuracy: 0.9567
Epoch 53/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1561 - accuracy: 0.9711
Epoch 54/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1589 - accuracy: 0.9747
Epoch 55/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1442 - accuracy: 0.9783
Epoch 56/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1621 - accuracy: 0.9458
Epoch 57/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1303 - accuracy: 0.9711
Epoch 58/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1623 - accuracy: 0.9675
Epoch 59/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1299 - accuracy: 0.9711
Epoch 60/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1346 - accuracy: 0.9639
Epoch 61/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1230 - accuracy: 0.9928
Epoch 62/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1313 - accuracy: 0.9747
Epoch 63/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1501 - accuracy: 0.9531
Epoch 64/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1207 - accuracy: 0.9783
Epoch 65/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0886 - accuracy: 0.9856
Epoch 66/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1190 - accuracy: 0.9711
Epoch 67/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1289 - accuracy: 0.9639
Epoch 68/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1212 - accuracy: 0.9711
Epoch 69/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0957 - accuracy: 0.9783
Epoch 70/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1138 - accuracy: 0.9747
Epoch 71/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0864 - accuracy: 0.9892
Epoch 72/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1109 - accuracy: 0.9783
Epoch 73/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0904 - accuracy: 0.9819
Epoch 74/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0879 - accuracy: 0.9783
Epoch 75/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0745 - accuracy: 0.9928
Epoch 76/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0852 - accuracy: 0.9892
Epoch 77/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0818 - accuracy: 0.9892
Epoch 78/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0736 - accuracy: 0.9856
Epoch 79/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1202 - accuracy: 0.9747
Epoch 80/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0813 - accuracy: 0.9783
Epoch 81/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1056 - accuracy: 0.9711
Epoch 82/100
9/9 [==============================] - 0s 3ms/step - loss: 0.0702 - accuracy: 0.9928
Epoch 83/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0964 - accuracy: 0.9711
Epoch 84/100

9/9 [==============================] - 0s 3ms/step - loss: 0.0955 - accuracy: 0.9819
Epoch 85/100
9/9 [==============================] - 0s 3ms/step - loss: 0.0808 - accuracy: 0.9711
Epoch 86/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0620 - accuracy: 0.9892
Epoch 87/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0621 - accuracy: 0.9856
Epoch 88/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0610 - accuracy: 0.9856
Epoch 89/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0566 - accuracy: 0.9892
Epoch 90/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0711 - accuracy: 0.9856
Epoch 91/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0913 - accuracy: 0.9675
Epoch 92/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0614 - accuracy: 0.9892
Epoch 93/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0565 - accuracy: 0.9892
Epoch 94/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0658 - accuracy: 0.9892
Epoch 95/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0738 - accuracy: 0.9856
Epoch 96/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0593 - accuracy: 0.9892
Epoch 97/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0986 - accuracy: 0.9603
Epoch 98/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0655 - accuracy: 0.9856
Epoch 99/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0891 - accuracy: 0.9711
Epoch 100/100
9/9 [==============================] - 0s 2ms/step - loss: 0.0506 - accuracy: 0.9928

In [31]:
print("--Evaluate model--")
model_loss1, model_acc1 = model.evaluate(X_train,  y_train, verbose=2)
model_loss2, model_acc2 = model.evaluate(X_test,  y_test, verbose=2)
print(f"Train / Test Accuracy: {model_acc1*100:.1f}% / {model_acc2*100:.1f}%")

--Evaluate model--
9/9 - 0s - loss: 0.0046 - accuracy: 1.0000 - 133ms/epoch - 15ms/step
3/3 - 0s - loss: 0.1976 - accuracy: 0.9429 - 27ms/epoch - 9ms/step
Train / Test Accuracy: 100.0% / 94.3%

In [32]:
model.save('chatbot_WIP.h5')